@import url(./reset.css);


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(252, 220, 0);
    
    
}
header h1{
    font-size: 3rem;
    text-align: center;
}
header nav * {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    
}
nav ul li *{
    font-weight: bolder;
    transition: all .6s ease-in-out;
    filter: drop-shadow(0 0 0.9rem #fff);
    background-color: rgb(252, 220, 0);
    color: rgb(6, 7, 5);
    width: 20rem;
    transition: transform 0.3s;
    transform: scale(1.1);
    border-radius: 10px;
    transition: all .7s ease-in-out;
    
}
nav ul li:hover a{
    text-shadow: 0 0 0.9rem #6E6E6E;
    filter: drop-shadow(.7rem .4rem  rgba(0, 0, 0, 0.181));
    background-color: var(--bgcolor_green);
    color: var(--bgcolor_pink);
    
}

section div ul li{
    text-align: center;
}
 h3{
    font-style: oblique;
    font-family: Anton;

}

figure{
    display: grid;
    align-items: center;
    filter: drop-shadow(0 0 0.9rem rgb(82, 14, 82));
    margin: 0 auto;
    background: url(../asset/one-picture.jpg)no-repeat fixed center center / cover;
   min-height: 40vh;
}
figure p{
    text-align: left;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding:2rem;
    text-transform: uppercase;
    width:  40%;
}
.primary {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    filter: drop-shadow(0 0 0.9rem rgb(82, 14, 82));
}

#collection {
    display: flex;
    gap: 50px;
    justify-content: center;
}


#collection li {
    width: 100px;
   
}
#collection img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

#collection img:hover {
    transform: scale(1.1);
}
section h3{
    text-align: center;
}
footer{
    text-align: center;
    background-color:rgb(252,220,0) ;
}
            