@import url(./reset.css);


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(252, 220, 0);
    
    
}
header h1{
    font-size: 3rem;
    text-align: center;
}
header nav * {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    
}
main img{
      display: none;
}
figure{
    display: grid;
    align-items: center;
  
    margin: 0 auto;
    background: url(../asset/one-picture.jpg)no-repeat fixed center center / cover;
    min-height: 100vh;
}
figure p{
    text-align: left;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding:2rem;
    text-transform: uppercase;
    width:  40%;
}